<div class="row">
    <div class="col s12 m12">
      <div class="card-panel  z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s1">
            <% if current_member.image?%>
            <%= image_tag(current_member.image, class:"circle responsive-img") %>
            <%end%>
          </div>
          <div class="col s1">
            <%=  link_to  idea_show_map_path(idea), remote: true, data: {id: idea.id } do %>
            <i class="col s4 material-icons">location_on</i>
            <% end %>  
            </div>
          <div class="col s8">
            <span class="black-text">
              <%=idea.describe%>

            </span>
          </div>
         <%= link_to "Dislike", dislike_idea_path(idea),class: 'vote ', method: :put, remote: true,data: {id: idea.id } %>

            <%= link_to "Like", like_idea_path(idea),class: 'vote', method: :put, remote: true,data: {id: idea.id } %>
          <div class="card-footer col s2">
            <a href="#">
              <i class="col s4 material-icons">favorite_border</i>
            </a>
            <a href="#">
              <i class="col s4 material-icons">thumb_down</i>
            </a>
            <a href="#">
              <i class="col s4 material-icons">chat_bubble_outline</i>
            </a>            
          </div>
        </div>
      </div>
    </div>
  </div>