<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Describe:</strong>
  <%= @idea.describe %>
</p>

<p>
  <strong>Support:</strong>
  <%= @idea.support %>
</p>

<p>
  <strong>Local:</strong>
  <%= @idea.local %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
