
<div class="section"></div>
<main>
  <center>
    <%=image_tag("/imgs/logo.png",size:"150", class:"responsive-img" )  %>

    <div class="container">
      <div class="z-depth-1 grey lighten-4 row" style="width:100%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name, provider:resource.provider, uid:resource.uid, image:resource.image)) do |f| %>
          <div class='row'>
            <div class='col s12'>
                <%= devise_error_messages! %>
            </div>
          </div>

          <div class='row'>
              <div class='input-field col s12'>
                  <%= f.label :name, "Nome" %>
                  <%= f.text_field :name, autofocus: true %>
              </div>
            </div>
          <div class='row'>
            <div class='input-field col s12'>
                <%= f.email_field :email,class:'validate',id:'email', autofocus: true %>
                <%= f.label :email, "Email" %>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>     
              <%= f.label :birthday, "Data de Nascimento" %>
              <%= f.text_field :birthday, autofocus: true %>
            </div>
         </div>
         <div class='row'>
            <div class='input-field col s12'>
                <%= f.label :role, "Papel" %>
                <%= f.select :role, options_for_select(Member.roles.map {|type,value| [type,type]},selected: Member.roles[:citzen]) %>
            </div>
         </div>

         <div class='row'>
            <div class='input-field col s12'>
                <%= f.label :district, "Bairro" %>
                <%= f.text_field :district, autofocus: true %>
            </div>
         </div>

         <div class='row'>
            <div class='input-field col s12'>
                <%= f.label :password, "Senha" %>
               
                    <%= f.password_field :password, autocomplete: "off" %>
            </div>
            <% if @minimum_password_length %>
            <em class="left">(
              <%= @minimum_password_length %> characters minimum)</em>
            <% end %>
              <br />
         </div>
        



          <div class='row'>
            <div class='input-field col s12'>
                <%= f.label :password_confirmation," Confirmar Senha" %>
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
            <% if devise_mapping.rememberable? -%>
            <label style='float: left;'>  
                  <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, "Lembrar-me" %>
                </label>
           <% end -%>
          </div>
          <center>
            <div class='row'>
                <%= f.submit "Cadastrar", name:'btn_login', class:'col s12 btn btn-large waves-effect blue darken-1' %>
            </div>
          </center>
       <%end%>
      </div>
    </div>
    <%= link_to "Já tem conta ? Log in!", new_session_path(resource_name), class:"blue-text" %>
    
  </center>

  <div class="section"></div>
  <div class="section"></div>
</main>


