<div class="modal-content">
    <h4>Novo Concurso</h4>
    <%= form_with(model: @contest, remote: true, :html => { :role => "form" }) do |form| %>
    <% if @contest.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>
  
        <ul>
        <% @contest.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :contest_title %>
    </div>
  
    <div class="field">
      <%= form.label :describe %>
      <%= form.text_field :describe, id: :contest_describe %>
    </div>

    <div class="field">
        <%= form.label :local %>
          <%= form.text_field :local, id: :contest_local %>
      </div>
      <div class="field">
        <%=  collection_check_boxes(:contest, :sector_ids, Sector.all, :id, :name_with_initial)%>
     </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
  </div>