<div class="modal-content">
  <h4>Novo Concurso</h4>
  <%= form_with(model: @contest, remote: true, :html => { :role => "form" }) do |form| %>
      <div id="error_explanation">
       <ul>
      </ul>
      </div>
        <div class="row">
          <div class="input-field col s12">
            <%= form.label :title, "Título" %>
              <%= form.text_field :title, id: :contest_title %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= form.label :describe, "Descrição" %>
              <%= form.text_field :describe, id: :contest_describe %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= form.label :local, "Local" %>
              <%= form.text_field :local, id: :contest_local %>
          </div>
        </div>
        <a id="get_location" class="waves-effect waves-light btn blue">Sua localização</a>
        <div class="row">
          <div class="input-field col s12">
            <%= form.hidden_field :latitude %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= form.hidden_field :latitude %>
          </div>
        </div>
        <div class="row">
          <span>Setores:</span>
          <div class="input-field col s12">
            <%=  collection_check_boxes(:contest, :sector_ids, Sector.all, :id, :name_with_initial)%>
          </div>
        </div>

        <div class="actions right">
          <%= form.submit "Salvar", class:"center waves-effect waves-orange btn-flat blue" %>
        </div>
        <% end %>

</div>
<div class="modal-footer">
  <a href="#!" class=" modal-close waves-effect waves-green btn-flat ">Cancelar</a>
</div>