<!DOCTYPE html>
<html>
  <head>
    <title>Tcc</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="apple-touch-icon" sizes="57x57" href="/imgs/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/imgs/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/imgs/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/imgs/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/imgs/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/imgs/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/imgs/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/imgs/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/imgs/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/imgs/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/imgs/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/imgs/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/imgs/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/imgs/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">    
  </head>

  <body >
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo center"><%= image_tag("/imgs/logo.png")%></a>
            <ul>
              <li>
                <a href="#" data-activates="slide-out" class=" button-s">
                   <i class="large material-icons">person_pin</i></a>
              </li>
            </ul>        
          </div>   
        </nav>
      </div>
        <ul id="slide-out" class="side-nav">
            <li><div class="user-view">
              <div class="background">
                <div class="layer"></div>
                <%=image_tag('/imgs/desenho.jpg')%>
                <li><div class="divider"></div></li>
              </div>
                  <% if current_member.image?%>
                  <%= image_tag(current_member.image, class:"circle responsive-img") %>
                  <%end%>
              <h3 class=" name belleroselight"><%=current_member.name%></h3>
              <span class=" email belleroselight"><%=current_member.role%></span>
            </div></li>
            <li><a href="#!"class="belleroselight"><i class="material-icons">star</i>Level Iniciante</a></li>
            <li><a class="subheader belleroselight"> Opções de conta</a></li>
            <li><%= link_to('Logout', destroy_member_session_path, method: :delete) %> </li>
          </ul>
          

      <%= yield %>

      <div class="col-lg-1 mapContainer">
          <div id="map"></div>
      </div>
     
    <footer class="page-footer blue">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Quem somos nós ?</h5>
              <p class="grey-text text-lighten-4">O CidadeManda é uma plataforma.</p>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Siga-nos nas redes sociais!</h5>
              <ul>
                <li>
                  <a class="white-text" href="#!">Link 1</a>
                </li>
                <li>
                  <a class="white-text" href="#!">Link 2</a>
                </li>
                <li>
                  <a class="white-text" href="#!">Link 3</a>
                </li>
                <li>
                  <a class="white-text" href="#!">Link 4</a>
                </li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Ajude-nos a melhorar, mande sua sugestão:</h5>
              <ul>
                <li>
                  <a class="white-text" href="#!">Link 1</a>
                </li>
                <li>
                  <a class="white-text" href="#!">Link 2</a>
                </li>
                <li>
                  <a class="white-text" href="#!">Link 3</a>
                </li>
                <li>
                  <a class="white-text" href="#!">Link 4</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            Feito com carinho por
            <a class="blue-text text-lighten-3" href="http://materializecss.com">Vica</a>
          </div>
        </div>
      </footer>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBePOL0KsJunNJPylT7J53t64375gmpzpE&callback=initMap"
      async defer></script>
      <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
  
        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 20
          });
          var infoWindow = new google.maps.InfoWindow({map: map});
  
          // Try HTML5 geolocation.
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };
  
              infoWindow.setPosition(pos);
              infoWindow.setContent('Location found.');
              map.setCenter(pos);
            }, function() {
              handleLocationError(true, infoWindow, map.getCenter());
            });
          } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
          }
        }
  
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
        }
      </script>
    
  </body>
</html>
